#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  color: cornflowerblue;
}

.item-container{
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
.perfume-item{
  border: 1px cornflowerblue solid;
  padding: 1rem;
  width: 250px;
}
.item-title{
  color: cornflowerblue;
  font-size: 20px;
}
.item-img{
  width: 200px;
  height: 180px;
}
.delete-btn{
width: 100px;
height: 40px;
}
.delete-btn:hover{
  color: cornflowerblue;
}

.Header nav {
  display: flex;
  justify-content:center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.Header nav a {
  border :solid;
  font-weight: bold;
  padding: 0 1rem;
  width: 70px;
  height: 30px;
}

.Header nav a:hover {
  color: cornflowerblue;
}
